<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Loja.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>

		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		
	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
	<connectionStrings>
  <add name="Loja.Properties.Settings.LojaConnectionString" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=Loja;Persist Security Info=True;User ID=sa;Password=master"
   providerName="System.Data.SqlClient" />
  <add name="LojaEntities" connectionString="metadata=res://*/Loja.csdl|res://*/Loja.ssdl|res://*/Loja.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local)\sqlexpress;Initial Catalog=Loja;Integrated Security=True;MultipleActiveResultSets=True&quot;"
   providerName="System.Data.EntityClient" />
  <add name="Loja.Properties.Settings.ConnLOJADBF" connectionString="Data Source=(local)\sqlexpress;Initial Catalog=LojaDBF;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Loja.Properties.Settings.ConnDBF" connectionString="Dsn=dBASE Files"
   providerName="System.Data.Odbc" />
  <add name="LojaContext" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=Loja;Integrated Security=True;MultipleActiveResultSets=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<userSettings>
		<Loja.Properties.Settings>
   <setting name="Nome" serializeAs="String">
	<value>Jorge Antônio Santana Giffoni</value>
   </setting>
   <setting name="Endereco" serializeAs="String">
	<value>Rua Parintins, 186 - Cachoeirinha - CEP: 69065-050</value>
   </setting>
   <setting name="Telefone" serializeAs="String">
	<value>(92) 3663-2211</value>
   </setting>
   <setting name="Site" serializeAs="String">
	<value />
   </setting>
   <setting name="Email" serializeAs="String">
	<value />
   </setting>
   <setting name="CNPJ" serializeAs="String">
	<value>05.499.801/0001-67</value>
   </setting>
   <setting name="InscEstadual" serializeAs="String">
	<value>04.176.481-1</value>
   </setting>
   <setting name="NomeFantasia" serializeAs="String">
	<value>AUTO PADRÃO PECAS</value>
   </setting>
   <setting name="Estilo" serializeAs="String">
	<value>Money Twins</value>
   </setting>
   <setting name="Cidade" serializeAs="String">
	<value>Manaus</value>
   </setting>
   <setting name="Estado" serializeAs="String">
	<value>Amazonas</value>
   </setting>
   <setting name="ImpressoraNFE" serializeAs="String">
	<value>EPSON TM-T20 Receipt</value>
   </setting>
  </Loja.Properties.Settings>
	</userSettings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>
