<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.5.2" targetFramework="net48" />
  <package id="FreeSpire.PDF" version="12.4.0" targetFramework="net48" />
  <package id="Patch-Zeus.Net.NFe.NFCe" version="1.0.1" targetFramework="net48" />
  <package id="Zeus.Net.CTe" version="2026.5.5.1505" targetFramework="net48" />
  <package id="Zeus.Net.MDFe" version="2026.5.5.1505" targetFramework="net48" />
  <package id="Zeus.Net.NFe.NFCe" version="2026.5.5.1505" targetFramework="net48" />
</packages>